html {
    scroll-behavior:smooth;
}
body {
    background-color:#181818;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
pre{
    color: white;
}
body { 
    color: white;
}
a:hover {
    color: white;
}
a{
    a [href="#planets"]:hover
a [href="#blackhole"]:hover
a [href="#quiz"]:hover
}
.feedback {
    margin-top: 50px;
    margin-bottom: 50px;
}
.feedback textarea{
    width: 300px;
height: 100px;
    display: block;
    margin-bottom: 10px;
}
.feedback button{
    padding: 8px 20px;
}